<!DOCTYPE html>
<html>
<head>
    <title>Color Picker</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <div id="color-picker"></div>
    <div id="input-area">
        <textarea id="input-text"></textarea>
        <br>
        <button id="submit-text">Submit</button>
        <br>
        <div>
            <label for="toggle-output">Toggl output type (colored text / colored background only):</label>
            <input type="checkbox" id="toggle-output">
        </div>
    </div>
    <div id="output-area"></div>
    <br><br>
    <div id="output-area-bg"></div>
</body>
</html>
